<%- include("header.ejs") %>

    <%- include("./nav.ejs") %> <br>

        <style>
            .about {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            label {
                font-weight: 700;
                color: white;
            }

            .form-bg {
                background-color: rgb(0, 0, 124);
                padding: 40px;
            }
        </style>

        <!-- About Start -->
        <div class="about wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row align-items-center ">
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-6 col-md-6 form-bg">
                        <div class="about-text">
                            <h2 style="color:white ;">Register Here!!!</h2><br>
                            <font style="color:blue;">
                                
                            </font>

                            <form method="post" action="/login">

                                <div class="form-group">
                                    <label style="color: white;"  for="email">Email address : </label>
                                    <input type="email" class="form-control" placeholder="Enter Email Address"
                                        id="email" name="email" value="<%- cunm %>">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Password : </label>
                                    <input type="password" class="form-control" placeholder="Enter Password" id="pwd"
                                        name="password" value="<%- cpass %>">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" id="chk" value="Remember" name="chk">&nbsp;
                                    <label> Remember Me</label> 
                                </div>
                                <button class="btn btn-primary px-4">Login</button><br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3"></div>
        <!-- About End -->

        <%- include ("footer.ejs") %>