<!-- end loader -->
<%- include("adminnav.ejs")%>
    <!--about page load-->
    <!-- about  -->

    <div id="about" class="about-search">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="container p-5" style="color: black ;">
                        <h2>Admin manager panel<strong class="yellow"></strong></h2>

                        <table class="table table-bordered">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>Gender</th>
                                <th>Info</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>

                            <% for(let row of userDetails){%>
                                <tr>
                                    <td>
                                        <%- row._id %>
                                    </td>
                                    <td>
                                        <%- row.name %>
                                    </td>
                                    <td>
                                        <%- row.email %>
                                    </td>
                                    <td>
                                        <%- row.mobile %>
                                    </td>
                                    <td>
                                        <%- row.address %>
                                    </td>
                                    <td>
                                        <%- row.city %>
                                    </td>
                                    <td>
                                        <%- row.gender %>
                                    </td>
                                    <td>
                                        <%- row.info %>
                                    </td>
                                    <td>
                                        <% if(row.status) {%>
                                            <a href="/admin/manageuserstatus?s=block&regid=<%- row._id %>"
                                                style="color:orange" ;>
                                                Block User
                                            </a>
                                            <%} else { %>
                                                <a href="/admin/manageuserstatus?s=verify&regid=<%- row._id %>"
                                                    style="color:green" ;>
                                                    Verify User
                                                </a>
                                                <%}%>
                                    </td>
                                    <td>
                                        <a href="/admin/manageuserstatus?s=delete&regid=<%- row._id %>"
                                            style="color:red;">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <% } %>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end abouts -->

    <!--footer .-->
    <%- include("adminfooter.ejs")%>